/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Tema escuro */
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    width: 50%;
    text-align: center;
}

#canvas {
    width: 100%;
    border: 2px solid #444;
    background-color: #333;
}

.controls {
    width: 35%;
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.controls h2 {
    margin-bottom: 20px;
}

button {
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #575757;
}

#info {
    margin-top: 20px;
    font-size: 1rem;
    color: #ccc;
}
