/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    text-align: center;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Estilo do input de arquivo */
.file-input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

/* Canvas */
canvas {
    border: 2px solid #333;
    display: block;
    margin-top: 20px;
    max-width: 100%;
}